[MAIN]
suggestion-mode=yes
py-version=3.11

[MESSAGES CONTROL]
disable=
    line-too-long,
    missing-module-docstring,
    missing-class-docstring,
    import-outside-toplevel,
    use-dict-literal,
    invalid-name,
    no-name-in-module,
    unspecified-encoding,
    c-extension-no-member,
    redefined-outer-name,
    import-error,
    too-many-arguments,
    too-many-locals,
    too-many-branches,